/*11 August 2011
Artem Abramov
Homepage's main css*/

/*Layout*/
* {
margin:0;
padding:0;}

html {
height: 100%;}

body {
min-height: 100%;
position: relative;}

#top_container {
height: 70px;
position: relative;}

#about {
  float: left;
  width: 50%;
  margin-left: 20%;}

#links {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  width: 20%;
  margin-left: -70%;}

#news {
  float: right;
  width: 30%;}

#news ul{
  padding-left: 20px;}

#container {
  overflow: hidden;}

#search {
  position: absolute;
  bottom: 20px; right: 10px;}

#bottom_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 16px;}

#top_container h1 {
  padding: 20px;}

div.clear {
  clear: both;}

/*Colors*/
#top_container {
background: url(title-bg.png) #45f left top repeat-x;
/*background: #007dff;*/}

#body{
background: #aad4ff;}

#bottom_container {
background: #007dff;
color: #fff;}

#top_container h1 {
color: #fff;}

/*Fonts*/
html { 
font-size: 14px;}

#news h2 {
font-size: 100%;}

p {
padding-top: 10px;
padding-bottom: 10px;}

#news h3 {
font-size: 100%}

